In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [5]:
from typing import List
from dao.dao_mxm_objects import DAOMxmObjects
from models.mxm_object import MxmObject

dao_mxm_objects: DAOMxmObjects = DAOMxmObjects("mxm_train")
mxm_objects: List[MxmObject] = dao_mxm_objects.find_all()

In [2]:
import pandas as pd

def database_data_to_dataframe(data):
    headers = data[0].dict().keys()
    data_values = [d.dict().values() for d in data]
    df = pd.DataFrame(data_values, columns=headers)
    return df

In [3]:
def get_songs_user_has_listened_to(triplets_df, user_id):
    return triplets_df.loc[triplets_df['user_id'] == user_id, 'song_id']

In [5]:
from models.msd_triplet import MsdTriplet
from dao.dao_msd_triplets import DAOMsdTriplets

dao_triplets: DAOMsdTriplets = DAOMsdTriplets()
triplets: List[MsdTriplet] = dao_triplets.find_all()
triplets_df = database_data_to_dataframe(triplets)

In [8]:
user_songs = get_songs_user_has_listened_to(triplets_df, 'b80344d063b5ccb3212f76538f3d9e43d87dca9e')
user_songs = user_songs.to_list()

In [10]:
mxm_objects_df = database_data_to_dataframe(mxm_objects)
mxm_objects_df

,msd_id,mxm_id,attr_list,sentiment
0,TRAAAAV128F421A322,4623710,"[{'atrr_id': 1, 'atrr_value': 6}, {'atrr_id': ...",-0.596374
1,TRAAABD128F429CF47,6477168,"[{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...",-0.734072
2,TRAAAED128E0783FAB,2516445,"[{'atrr_id': 1, 'atrr_value': 28}, {'atrr_id':...",0.635149
3,TRAAAEF128F4273421,3759847,"[{'atrr_id': 1, 'atrr_value': 5}, {'atrr_id': ...",-0.462117
4,TRAAAEW128F42930C0,3783760,"[{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...",-0.670967
...,...,...,...,...
210514,TRZZZWS128F429CF87,3080645,"[{'atrr_id': 6, 'atrr_value': 1}, {'atrr_id': ...",0.761594
210515,TRZZZXA128F428ED56,2344272,"[{'atrr_id': 1, 'atrr_value': 1}, {'atrr_id': ...",-0.062419
210516,TRZZZXV128F4289747,1417347,"[{'atrr_id': 1, 'atrr_value': 13}, {'atrr_id':...",0.703906
210517,TRZZZYV128F92E996D,6849828,"[{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...",-0.997936
210518,TRZZZYX128F92D32C6,681124,"[{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...",0.302710

In [12]:
msd_ids_in_mxm = mxm_objects_df['msd_id'].to_list()

In [15]:
triplets_df.loc[triplets_df['song_id'].isin(msd_ids_in_mxm), 'user_id'].to_list()

[]

In [18]:
# As there are none songs from mxm, I'll create list of user_song manually
user_songs = mxm_objects_df.sample(n=25)
user_songs = user_songs['msd_id'].to_list()

In [42]:
sentiment_diff_df = mxm_objects_df.copy()
sentiment_diff_df.drop(mxm_objects_df.loc[mxm_objects_df['msd_id'].isin(user_songs)].index, inplace=True)

,msd_id,mxm_id,attr_list,sentiment
0,TRAAAAV128F421A322,4623710,"[{'atrr_id': 1, 'atrr_value': 6}, {'atrr_id': ...",-0.596374
1,TRAAABD128F429CF47,6477168,"[{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...",-0.734072
2,TRAAAED128E0783FAB,2516445,"[{'atrr_id': 1, 'atrr_value': 28}, {'atrr_id':...",0.635149
3,TRAAAEF128F4273421,3759847,"[{'atrr_id': 1, 'atrr_value': 5}, {'atrr_id': ...",-0.462117
4,TRAAAEW128F42930C0,3783760,"[{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...",-0.670967
...,...,...,...,...
210514,TRZZZWS128F429CF87,3080645,"[{'atrr_id': 6, 'atrr_value': 1}, {'atrr_id': ...",0.761594
210515,TRZZZXA128F428ED56,2344272,"[{'atrr_id': 1, 'atrr_value': 1}, {'atrr_id': ...",-0.062419
210516,TRZZZXV128F4289747,1417347,"[{'atrr_id': 1, 'atrr_value': 13}, {'atrr_id':...",0.703906
210517,TRZZZYV128F92E996D,6849828,"[{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...",-0.997936
210518,TRZZZYX128F92D32C6,681124,"[{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...",0.302710

In [48]:
sentiment_diff_df = mxm_objects_df.copy()
sentiment_diff_df.drop(mxm_objects_df.loc[mxm_objects_df['msd_id'].isin(user_songs)].index, inplace=True)
sentiment_diff_df['sentiment_diff'] = 0
for song in user_songs:
    song_sentiment = mxm_objects_df.loc[mxm_objects_df['msd_id'] == song, 'sentiment']
    # df[df['line_race']==0].index
    sentiment_diff_df['sentiment_diff'] = sentiment_diff_df['sentiment_diff'].add((mxm_objects_df['sentiment']-song_sentiment.values[0]).abs())
    # df_closest = mxm_objects_df.iloc[(mxm_objects_df['sentiment']-song_sentiment).abs().argsort()[:1]]
    # print(sentiment_diff_df)
# sentiment_diff_df['sentiment_diff'] = sentiment_diff_df['sentiment_diff'] / len(user_songs)
print(sentiment_diff_df)

                    msd_id   mxm_id  \
0       TRAAAAV128F421A322  4623710
1       TRAAABD128F429CF47  6477168
2       TRAAAED128E0783FAB  2516445
3       TRAAAEF128F4273421  3759847
4       TRAAAEW128F42930C0  3783760
...                    ...      ...
210514  TRZZZWS128F429CF87  3080645
210515  TRZZZXA128F428ED56  2344272
210516  TRZZZXV128F4289747  1417347
210517  TRZZZYV128F92E996D  6849828
210518  TRZZZYX128F92D32C6   681124

                                                attr_list  sentiment  \
0       [{'atrr_id': 1, 'atrr_value': 6}, {'atrr_id': ...  -0.596374
1       [{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...  -0.734072
2       [{'atrr_id': 1, 'atrr_value': 28}, {'atrr_id':...   0.635149
3       [{'atrr_id': 1, 'atrr_value': 5}, {'atrr_id': ...  -0.462117
4       [{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...  -0.670967
...                                                   ...        ...
210514  [{'atrr_id': 6, 'atrr_value': 1}, {'atrr_id': ...   0.761594
210515  [{'atrr_id': 1, 'atrr_value': 1}, {'atrr_id': ...  -0.062419
210516  [{'atrr_id': 1, 'atrr_value': 13}, {'atrr_id':...   0.703906
210517  [{'atrr_id': 1, 'atrr_value': 10}, {'atrr_id':...  -0.997936
210518  [{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...   0.302710

        sentiment_diff
0            12.027221
1            13.788771
2            22.944754
3            11.373809
4            12.847750
...                ...
210514       25.528468
210515       13.119440
210516       24.317008
210517       19.205739
210518       17.741273

[210494 rows x 5 columns]

In [49]:
sentiment_diff_df.sort_values(by='sentiment_diff')

,msd_id,mxm_id,attr_list,sentiment,sentiment_diff
141545,TRRKCZV128F1490360,8415109,"[{'atrr_id': 1, 'atrr_value': 14}, {'atrr_id':...",-0.358357,11.270049
33852,TREDOHA128F4281ADA,2885045,"[{'atrr_id': 1, 'atrr_value': 17}, {'atrr_id':...",-0.358357,11.270049
201888,TRYXSGH128F932E0C8,5589094,"[{'atrr_id': 1, 'atrr_value': 4}, {'atrr_id': ...",-0.358357,11.270049
156659,TRTGUXS128F934529B,823524,"[{'atrr_id': 1, 'atrr_value': 6}, {'atrr_id': ...",-0.358357,11.270049
201891,TRYXSRB128F933F608,3377119,"[{'atrr_id': 2, 'atrr_value': 7}, {'atrr_id': ...",-0.358357,11.270049
...,...,...,...,...,...
163784,TRUEHFY128E0798A7C,5156067,"[{'atrr_id': 1, 'atrr_value': 7}, {'atrr_id': ...",1.000000,30.742649
162268,TRTZJOL128F427C0A8,5342924,"[{'atrr_id': 1, 'atrr_value': 54}, {'atrr_id':...",1.000000,30.742649
139071,TRRCLWL12903CA3682,6235627,"[{'atrr_id': 1, 'atrr_value': 6}, {'atrr_id': ...",1.000000,30.742649
44755,TRFMLVA128F4261870,919545,"[{'atrr_id': 1, 'atrr_value': 253}, {'atrr_id'...",1.000000,30.742649
27219,TRDIEOU128F4261A22,775220,"[{'atrr_id': 1, 'atrr_value': 1110}, {'atrr_id...",1.000000,30.742649

In [50]:
user_songs

['TRALXRK12903CCDC09',
 'TROAXFG128F934AA59',
 'TRTNMMW12903CD608E',
 'TRHOXJK128F14A13F2',
 'TRPICRI12903CF7D31',
 'TRGXHXN128F92E29FC',
 'TRITHJY128F9304D97',
 'TRUKPHI12903CC1814',
 'TRWHHWK128F146AB78',
 'TRNFWBY128E07920F2',
 'TRTOSGL128F42AD10E',
 'TRCIXZO128F1485B69',
 'TRVZKUJ128F42920AC',
 'TRIYGLI128F92F667B',
 'TRPQRTE128F14A8C0D',
 'TRHNNPD128F4293E53',
 'TRPHDLW12903CE840F',
 'TRGLHVP128F4298E87',
 'TRUPSUA12903CC6B7D',
 'TRPWWHQ128F428255B',
 'TRYPTDF128F92F40E2',
 'TREHYSY128F148E0D6',
 'TRVIXSO128F146EEDB',
 'TREXKXF128F14641BA',
 'TRXWBDW128F427D0DC']